body{

    background-color: rgb(39, 39, 43);
    
}
.verdemare{

    color:rgb(31, 204, 40);
    font-size:300%;
    font-weight: lighter;

}
.verdemic{

    color:rgb(255, 255, 255);

}
.input{

    background-color:rgb(39, 39, 43);
    border-color: rgb(39, 39, 43);
    border-bottom: white;
    width:100%;
    height:40px;
    border-style:hidden hidden solid hidden;
    color:white;
    text-align: center;
    transition-duration: 0.3s;

}
.input::placeholder{

    color:rgb(99, 99, 99);
    font-weight:bolder;
    font-size: 125%;

}

.input::ms-input-placeholder{

    color:rgb(99, 99, 99);
    font-weight:bolder;
    font-size: 125%;

}
.input:hover{

    border-color: rgb(31, 204, 40);

}
.add{

    background-color: rgb(39, 39, 43);
    color: rgb(31, 204, 40);
    font-size: 250%;
    font-weight:bolder;
    border: none;
    width:40px;
    height:40px;

}
p{

    color:white;
    padding-bottom: 1px;

}
.lista{

    font-size: 140%;
    font-weight: bold;
}
.button{

    width: 70%;
    height: 150%;
    background-color: rgb(36, 35, 37);
    color: rgb(31, 204, 40);
    font-weight: bolder;
    
    border-radius: 15px;
    border-color:rgb(28, 177, 35);
    border-width: 0.3rem;
    font-size: 1rem; 
}
.button:hover{

    background-color: rgb(28, 177, 35);
    color: rgb(36, 35, 37);
}

#div1{

    text-align-last: center;

}
.minus{

    color: red;
    font-size: 300%;
    background-color:rgb(39, 39, 43);
    font-weight: bolder;
    padding-bottom: 0px;
    padding-top:0px;

    
}
.minus:hover{

    color: red;
    font-size: 300%;
    background-color:rgb(39, 39, 43);
    font-weight: bolder;
    border-width: 1px;
    border-color: red;

}

